
.row {
    display: flex;
    justify-content: space-between; 
    gap: 5px; 
    flex-wrap: wrap; 
    margin: 20px;
}

.card {
    width: 49%;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}

.card-header {
    border-bottom: 2px solid grey;
    background-color: rgba(250, 250, 250, 1);
}