.header {
  width: 100%;
  height: 10vh;
  background-color: #3D0000;
  display: flex;
  justify-content: left; 
  gap: 40px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-element {
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  background: none; 
  color: white; 
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header-element:hover {
  transform: scale(1.05);
  opacity: 0.85;
}

.brand {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px; /* Adjust size as needed */
    width: auto;
    object-fit: contain;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
