.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
}

.link {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color: black;
    transition: color 0.5s ease;
}

.link:hover {
    color: rgba(255, 255, 255, 0.5);
}
