.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 20px;
}

.news-container .news-card {
  width: 90%;
  max-width: 300px;
  justify-self: center;
  margin: 0 !important;
}

/* Responsive Breakpoints */
@media (max-width: 1200px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1200px) {
  .news-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .filter-section {
    flex-direction: column;
    align-items: stretch;
  }
  
  .filter {
    width: 100%;
  }

  .news-container {
    grid-template-columns: 1fr;
  }
}