/* Card (Base Style - Now Compact) */
.threat-card {
  border-radius: 12px;
  border: 4px solid #4E727E;
  min-height: 200px;
  max-height: 250px;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.threat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Color Themes */
.threat-card.color-0 {
  background-color: #CC0000;
  border-color: #3D0000;
}

.threat-card.color-0:hover {
  background-color: #e60000;
}

.threat-card.color-0 .card-title {
  color: #3D0000;
}

.threat-card.color-1 {
  background-color: #4e727e;
  border-color: #1f2E33;
}

.threat-card.color-1:hover {
  background-color: #5a8794;
}

.threat-card.color-1 .card-title {
  color: #1f2E33;
}

.threat-card.color-2 {
  background-color: #d4a929;
  border-color: #845001;
}

.threat-card.color-2:hover {
  background-color: rgb(227, 182, 48);
}

.threat-card.color-2 .card-title {
  color: #624B04;
}

/* Card Content */
.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 1.3;
}

.card-info {
  font-size: 0.85rem;
  font-weight: 500;;
}

.info-row small {
  line-height: 1.4;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .threat-card {
    min-height: 180px;
  }
  
  .card-title {
    font-size: 1rem;
  }
}