.page-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px; /* spacing between elements */
  padding: 20px;
}

.page-container h1 {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-family:'Courier New', Courier, monospace;
  color: white;
}