.page-container {
  /* background-color: #0E1517; */
  background-color: pink;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px; /* spacing between elements */
  padding: 20px;
}

.page-container h1 {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-family: impact;
  font-weight: 500;
  color: #A6C0C9;
}

.page-container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-family: impact;
  font-weight: 500;
  color: #A6C0C9;
}