.page-container {
  background-color: #0E1517;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.alt-banner {
  background: linear-gradient(135deg, #11191b 0%, #054357 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 2rem;
  margin: 1.5rem;
  text-align: center;
}

h1 {
  font-size: 3.6rem !important;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-family: impact;
  font-weight: 500;
  color: white !important;
}

.page-container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-family: impact;
  font-weight: 500;
  color: #A6C0C9;
}