.page-container {
  background-color: #0E1517;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.6rem !important;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-family: impact;
  font-weight: 500;
  color: white !important;
}

.page-container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-family: impact;
  font-weight: 500;
  color: #A6C0C9;
}